<% content_for :head do %>
  <%= javascript_include_tag 'popover' %>
<% end %>

<div class="container" style="text-align: left;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="orange"><%= render partial: "shared/accumoo_name" %> by <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Accomplish Personal Goals. Track Life Events.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="prodSection">
        <h3>Personal</h3>
        <h4>
          <%= render "shared/accumoo_name" %> helps you keep track of events
          and accomplish personal goals in your life that matter to <i>you</i>.
        </h4>
        <p>
          There's enough business productivity tools out there, but what about
          your personal life?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="prodSection">
        <h3>Helpful</h3>
        <h4>
          <%= render "shared/accumoo_name" %> is <i>helpful</i>, ready to step in
          when your calendar and reminders list leave you high and dry.
        </h4>
        <p>
          Sometimes your calendar and reminders list simply
          don't work for you. It could be because your schedule and
          priorities change so often or perhaps you're a little undisciplined;
          the truth is, your calendar and reminders list are <i>too rigid</i>.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="prodSection">
        <h3>Flexible</h3>
        <h4>
          <%= render "shared/accumoo_name" %> is <i>flexible</i>. Your calendar and
          reminders list <i>are not;</i> at least not enough for <i>your</i> ever-changing
          schedule.
        </h4>
        <p>
          Accumoo maintains its flexibility by
          allowing you to set your personal goals (for instance) within
          <i>Timeframes</i>. A <i>Timeframe</i>, in Accumoo-speak, is a
          period of time that remains agnostic when it comes to any
          particular that would make setting and/or accomplishing your goals too
          rigid.
        </p>
        <!--p>
          Sometimes it doesn't matter <i>exactly when</i> you accomplish your goals;
          what matters is that <i>you do</i>.
          Sometimes you don't know <i>exactly when</i> a particular event will
          take place; what matters is that you're able to record it <i>when
          it does</i>.
        </p-->
        <!--
        <p>
          You may want to accomplish recurring personal goals and
          record recurring events that <i>should</i> take place within a
          general <i>timeframe</i> (i.e. every hour, day, week, month or even every year);
          however, all you <i>may</i> care about is whether or not you accomplished
          your goals or whether or not the event actually took place <i>within the
          general timeframe</i>.
        </p>
        <p>
          For example, take these personal goals. Let's say you want to...
        </p>
        <ul>
          <li>
            Drink two-8 oz. glasses of water <i>every hour of every day.</i>
          </li>
          <li>
            Work out at least <i>three times a week.</i>
          </li>
          <li>
            Take at least one 5-minute break <i>every hour during the course of
            a work day.</i>
          </li>
        </ul>
        <p>
          It may not matter <i>exactly when</i>
          you drink those two-8 oz. glasses of water, or <i>exactly which
          days</i> you work out during the week, or <i>exactly what time</i> you
          take your 5-minute work break every hour <i>- but what might matter
          is that you do.</i>
        </p>
        <p>
          <%= render "shared/accumoo_name" %> goes with <i>your</i> flow.
        </p>
      -->
      </div>
    </div>
  </div>
  <!--div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Simple</h3>
      <div class="prodSection">
        <h4>
          <%= render "shared/accumoo_name" %> is <i>simple</i>.
        </h4>
        <p>
          Life is <i>complicated</i>. Don't let your calendar or to-to list get
          in the way of accomplishing your goals and keeping track of life events.
          Accumoo stays out of your way
        </p>
        <p>
          <ul>
            <li>
              People are busy. Accumoo sets you up for success. Calendar
              events and schedules
              rarely happen as planned. When personal calendar events, for example,
              fail to take place, they are rarely reschduled. This is due, in part,
              to the conventional calendar event which is rigidly bound to a
              specific date and time. This system sets people up for failure.
              Accumoo events, on the other hand, are date and time agnostic.
              Accumoo events can take place <i>anywhere</i> within the timeframe
              chosen by the user. This system provides more flexibility and sets
              you up for success.
            </li>
            <li>
              Accumoo's events are date and time agnostic, allowing the user
              to engage an event at their leisure, when it's convenient for <i>them</i>.
            </li>
            <li>
              Calendar events are merely a rigid placeholder for a scheduled event.
              There is no metadata
              associated with a calendar event. For example, an event in a calendar
              cannot indicate whether or not the event actually took place. An Accumoo event,
              on the other hand, is a <i>flexible</i> placeholder that records whether
              or not the event actually took place, as well as the date and time
              the event took place. In addition to this, Accumoo event metadata
              records whether or not a series of related events has taken place
              in part or <i>in toto</i>. This affords Accumoo the ability to
              provide statistical data for each event (pro version).
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div -->
</div>

<div class="container" style="text-align: left;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Real Life Scenarios</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="prodSection">
        <h3>Bob</h3>
        <h4>
          Bob is becoming more health conscience.
        </h4>
        <p>
          Recently, Bob has been told by his physician that he needs to
          drink less coffee and more water every day - 16 oz. per hour
          to be precise. Taking his doctor's advice seriously, Bob believes it
          would be wise to set up some kind of <i>reminder</i> on his iPhone
          to help him, so he sets about trying to do this...
        </p>
        <h5>The Calendar Approach</h5>
        <p>
          At first, Bob thought of using his <i>Calendar App,</i>
          but quickly realized that his calendar would be
          inundated with calendar entries - one for every waking hour
          of every day.
        </p>
        <p>
          Bob eventually concluded this wouldn't be very
          practical.
        </p>
        <h5>The Reminders List Approach</h5>
        <p>
          Bob then decided to create a reminder for himself using the
          <i>Reminders App.</i> Bob soon ran into the same problem he faced
          with the <i>Calendar App,</i> namely that his reminders would be
          flooded with one reminder entry for every waking hour of every day.
          Frustrated, Bob felt that this was better than cluttering up his
          calendar, so he decided to go with it.
        </p>
        <p>
          Bob's frustration grew when he realized that his Reminders App
          provided <i>no option to repeat reminders on an hourly basis.</i>
          So, Bob set about the painful task of having to create <i>twelve
          individual reminders</i> to cover his waking hours of 9:00 AM -
          9:00 PM. When Bob was done, he issued a sigh of relief
          and looked forward to trying out his new reminder system during his
          upcoming work week.
        </p>
        <p>
          To make a long story short, Bob's new reminder system didn't fare
          very well.
        </p>
        <p>
          For one, Bob's reminders were set for the top of every hour.
          This wasn't so bad except Bob's busy work schedule
          made it impossible at times to stop what he was doing, fill his water
          bottle, and drink his 16 oz. of water.

          Before long, Bob couldn't remember if the reminder to
          drink his water was dismissed because he actually drank his water, or
          because the reminder was in the way and annoying.



          By the end of the day, Bob had no idea how much water he actually
          drank during the course of the day.
        </p>
        <h5>The Accumoo Approach</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    	<br />

    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    		<ol class="carousel-indicators">
    			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
    		</ol>

    		<div class="carousel-inner" role="listbox">
    			<div class="item active">
    				<img src="http://azoom-sites.rockthemes.net/abboxed/wp-content/uploads/sites/14/2015/05/abboxed-restaurant-portfolio2.jpg" alt="First Slide" />
    			</div>

    			<div class="item">
    				<img src="http://azoom-sites.rockthemes.net/abboxed/wp-content/uploads/sites/14/2015/05/abboxed-beach-portfolio.jpg" alt="Second Slide" />

    				<div class="carousel-caption">
    					<h2>Best Caption Title</h2>
    					<p>Oh yh it is indeed!!!!!! :D</p>
    				</div>
    			</div>

    			<div class="item">
    				<img src="http://azoom-sites.rockthemes.net/abboxed/wp-content/uploads/sites/14/2015/05/abboxed-beach-portfolio2.jpg" alt="Third Slide" />
    			</div>
    		</div>

    		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    			<span class="icon-prev" aria-hidden="true"></span>
    			<span class="sr-only">Previous</span>
    		</a>

    		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    			<span class="icon-next" aria-hidden="true"></span>
    			<span class="sr-only">Next</span>
    		</a>
    	</div>
    </div>
  </div>
</div>
