<div class="container" style="text-align: left;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="orange"><%= render partial: "shared/accumoo_name" %> by <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Are You Suffering from Calendar and TODO List Fail?</h2>
      <p>
        Have you ever wanted keep track of, record, or be reminded of particular
        events in your life that somehow don't quite fit into your calandar or
        TODO list? Perhaps it's because your schedule isn't so ridgid or because
        it changes so often; perhaps it's because you're a little undisciplined or
        your priorities during the day shift constantly. Whatever the reason,
        <%= render "shared/accumoo_name" %> has your back!
      </p>
      <h2>Say Hello to <%= render "shared/accumoo_name", :css_class => "exclaimation" %></h2>
      <p>
        Let's say you want to keep track of how many 8 oz. glasses of water you need to
        drink every hour, how many times you worked out during the week, or perhaps
        how many work breaks you've taken during the course of the day.

        <%= render "shared/accumoo_name" %> allows you to do all this and more!
      </p>
    </div>
  </div>
</div>
