<h1>Happy <%= get_today_name_of_day %>!</h1>

<div class="section section-left">
  <div class="section-header">Software Consulting</div>
  <div class="section-content">
    <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %>
    provides computer software consulting and services to small and medium-sized businesses and startups.
    We specialize in social-centric, interactive web design featuring technology
    that allows users to consolidate and manage social networks, accounts, and connections to existing and emerging
    application programming interfaces (Facebook, Twitter, Hootsuite, Linkedin, etc.).
  </div>
  <div class="section-footer"><%= link_to("Contact Us", :action => :new, :controller => :contact, :style => "font-weight:bold;") %></div>
</div>

<div class="section section-center">
  <div class="section-header">Application Services</div>
  <div class="section-content">
    <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %>
    provides application services by managing, developing and maintaining software applications, tools, web
    sites and mobile applications, that promote entertainment, social interaction and personal productivity,
    toward the goal of warehousing valuable social demographics and data for the purpose of intelligent marketing.
  </div>
  <div class="section-footer"><%= link_to("Contact Us", :action => :new, :controller => :contact, :style => "font-weight:bold;") %></div>
</div>

<div class="section section-right">
  <div class="section-header">Mobile Software Development</div>
  <div class="section-content">
    <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %>
    develops personal productivity, social interaction and gaming software for mobile and handheld devices.
  </div>
  <div class="section-footer"><%= link_to("Contact Us", :action => :new, :controller => :contact, :style => "font-weight:bold;") %></div>
</div>