<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="section padding left">
    <%= render "shared/mohojo_header" %>
  </div>

  <div class="section padding right">
    <%= render "shared/mojo_definition" %>
  </div>
</div>

<div style="text-align: right;">
  <%= render "shared/navigation" %>
</div>

<div class="body">
  <%= yield %>
</div>

<%= render "shared/footer" %>

</body>
</html>
